@background-color: #fff;
@font-family: Helvetica, Arial, sans-serif, sans;
@font-color: #666;
@border-color: #ccc;
@cell-hover-color: #fcf6ca;
@row-hover-color: #fefbe6;
@noon-color: #888;
@cell-hover-color: #cae4ff;
@cell-marked-color: #e4f1ff;
@cell-addition-color: #f5f9ff;
@cell-marked-hover-color: #ffffb6;
@cell-removal-color: #ffffd3;

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table.available {
    border-collapse: collapse;

    th, td {
        padding: 0;
        margin: 0;
        font-family: @font-family;
        font-weight: normal;
        font-size: 13px;
        color: @font-color;
        line-height: 14px;
        width: 50px;
        cursor: default;
        .no-select;
    }
    .cell {
        border: 1px solid @border-color;

        &:hover {
            background: @cell-hover-color;
        }
    }
    th {
        background: @background-color;
        padding-bottom: 4px;
    }
    .marked-interval {
        background: @cell-marked-color;

        &:hover {
            background: @cell-marked-hover-color;
        }
    }
    .tentative-addition {
        background: @cell-addition-color;
    }
    .tentative-removal {
        background: @cell-removal-color;
    }
    .label {
        border: 1px solid @background-color;
        border-right: 1px solid @border-color;
        background: @background-color;
        text-align: center;
    }
    .label span {
        position: relative;
        top: -9px;
        font-size: 10px;
    }
    .label:hover {
        background: @background-color;
    }
    .trailing-row td {
        border: @background-color;
    }
}
